
.site-title {
    color: black !important;
    text-decoration: none;
}

.site-title:hover {
    color: black !important;
}

.social-icons a {
    color: black !important;
    text-decoration: none;
}

.social-icons a:hover {
    color: black !important;
}

:root {
    --sl-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}
